body{
  background-color: #B48050;
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  text-align: center;
}
table{
  color: #5C3D2F;
  font: 20px "Fira Sans", sans-serif;
  margin: 0 auto;
}

td{
  border: 4px solid #412017;
  padding: 10px 20px; /* Increased padding for more room */
  text-align: center;
  background-color: #935027;
  color: #F9E7B0;
}

.hours{
  background-color: #E1991D;
  color: #F9E7B0;
}

.closed{
  background-color: #412017;
  color: #F9E7B0;
}

th{
  text-align: center;
  font-size: 35px;
}


h1{
  font-size: 100px;
  padding: 0px;
  margin: 0px 0 100px 0;
  color:#5C3D2F
}